//headings 
//fonts 
$montserat: 'Montserrat', sans-serif;
$prata: 'Prata', serif;
$roboto: 'Roboto', sans-serif;


$fzH1: 60px; //regular Prata 
$fzH2: 30px; //bold Montserat
$fzH3: 22px; //bold Montserat
$fzH4: 22px; //regular Montserat

//text 
$fzP2Bold: 20px; 
$fzP2Reg: 20px;
$fzP4Bold: 18px;
$fzP4Reg: 18px;
$fzP6Reg: 16px;
$fzP7Reg: 14px;
$fzP8Reg: 12px;
$fzP9Reg: 10px;


//font-weight
$fwBold: 700; //bold
$fwSemiBold: 600; //bold
$fwNormal: 400; // normal
$fwLight: 300; // light


//text-colors
$lightText: #fff;
$darkText: #292839;

//link fz
$fzLink: 16px;
